
body{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
img{
    width: 100vw;
    height: 130vh; /* Ajusta esto según tus necesidades */
    margin: 0;
    padding: 0;
    position: relative; /* Asegura que la imagen está pegada al borde superior */
    top: 0;
    left: 0;
}

h1{
    color: white;
    text-align: center;
    
}
 