
body{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
img{
    width: 80vw;
    height: 100vh;
    border:none;
}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 

.titulo{
    color: white;
    position:fixed;
    top: 50%;
    left: 3%;
    
}